
@layout EmptyLayout
@page "/"
<main role="main" class="w-100">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item x-mas-background active">
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1>Noodle's Christmas Present.</h1>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p>
                            <NavLink class="btn btn-lg btn-light" href="/Stories">Unwrap Gift</NavLink>
                        </p>

                    </div>
                    <img src="/img/santac.png" style="position: absolute; bottom: 0; left: 5%; max-height: 20vh" />
                    <img src="/img/me-snowman.png" style="position: absolute; bottom: 0; right: 5%; max-height: 20vh" />
                </div>
            </div>
        </div>
    </div>


   
    <!-- FOOTER -->
    
</main>
