
@layout EmptyLayout
@page "/"
<main role="main" class="w-100">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item x-mas-background active">
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1>Noodle's Christmas Present.</h1>
                        <p>I know we couldn't be together for our first Christmas so I just thought I'd make this so we can have fun together. You are the best gift I could have ever asked for. Thank you for everything you are. XOXOXO</p>
                        <p>
                            <NavLink class="btn btn-lg btn-light" href="/Stories">Unwrap Gift</NavLink>
                        </p>

                    </div>
                    <img src="/img/santac.png" style="position: absolute; bottom: 0; left: 5%; max-height: 20vh" />
                    <img src="/img/IMG_2813-removebg-preview.png" style="position: absolute; bottom: 0; right: 5%; max-height: 20vh" />
                </div>
            </div>
        </div>
    </div>


   
    <!-- FOOTER -->
    
</main>
