@page "/Stories"
@layout MainLayout

<!-- Marketing messaging and featurettes
   ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Christmas Wishlist to Santa <span class="text-muted">What will you ask for?</span></h2>
            <p class="lead">It's the wishlist you always wish you wrote.</p>
            <div>
                <a href="Letter" class="btn btn-secondary">Write Letter</a>
            </div>
        </div>
        <div class="col-md-5">
            <img src="img/IMG_2852-removebg-preview.png" class="img-fluid"/>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">The New Reindeer Song. <span class="text-muted"><br />See for yourself.</span></h2>
            <p class="lead">I hear there are some new Reindeer afoot. Let's figure out who they are and what they do.</p>
            <a href="Reindeer" class="btn btn-secondary">Write Song</a>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="img/IMG_2855-removebg-preview.png" class="img-fluid"/>
        </div>
    </div>

    <hr class="featurette-divider">

   

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Holiday Greetings!<span class="text-muted"><br />From a friend.</span></h2>
            <p class="lead">Don't forget to smash the like button.</p>
            <a href="video" class="btn btn-secondary" target="_blank">Watch Video</a>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="img-fluid" src="img/IMG_2858-removebg-preview.png" />
        </div>
    </div>
    <hr class="featurette-divider">
    <hr class="featurette-divider">
    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

@code {

}
