@page
@model AudreyXmas2020.Pages.videoModel
@{
}
<div style="width:80%; margin: auto;position:relative;padding-bottom:121.667%;"><iframe src="https://streamable.com/e/t1rt61" frameborder="0" width="100%" height="100%" allowfullscreen style="width:100%;height:600px;position:absolute;left:0px;top:0px;overflow:hidden;"></iframe></div>