@inherits LayoutComponentBase


<div class="main" style="background-image: url('https://previews.123rf.com/images/olgastocker/olgastocker1904/olgastocker190400181/123637249-subtle-abstract-geometric-seamless-pattern-cute-pink-and-white-vector-background-design-simple-graph.jpg'); ">

    <div class="content px-4">
        @Body
    </div>
</div>

